<form class="setup-form">
   <p class="tweet-action">Application tokens 🎲</p>
   <input type="text" class="app-name" placeholder="Application Name" />
   <input type="text" class="consumer-key" placeholder="Consumer Key..." />
   <input type="text" class="consumer-secret" placeholder="Consumer Secret..." />
   <input type="text" class="access-token" placeholder="Access Token..." />
   <input type="text" class="access-token-secret" placeholder="Access Token Secret..." />
   <input type="submit" class="save-tokens" value="Save" />
</form>