<form method="GET" action="/apps" class="login-form">
   <p class="tweet-action">Login ⚡</p>
   <input type="text" class="email" placeholder="Email" name="email" required />
   <input type="password" class="password" placeholder="Password" name="password" required />
   <input type="submit" class="login-button" value="Go" />
   <div class="extra">
      <p>
         Don't have an account?
         <a href="/register">
            Register
         </a>
      </p>
   </div>
</form>